*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("/public/background\ image.jpeg");
    object-fit: cover;
}
#root{
    width: 100%;
    /* max-height: 100vh; */
    height: 100vh;
    /* min-height: ; */
    padding: 20px;
}